/* Notifica urgente */
#notification-red-polo>h3>a, #notification-red-edificio>h3>a, #notification-red-piano>h3>a {
	background-color:red;
	color: white;
}

/* Notifica poco urgente */
#notification-yellow-polo>h3>a, #notification-yellow-edificio>h3>a, #notification-yellow-piano>h3>a {
	background-color:yellow;
	color: black;
}

/* Notifica non urgente */
#notification-green-polo>h3>a, #notification-green-edificio>h3>a, #notification-green-piano>h3>a {
	background-color:green;
	color: black;
}

.filter{
	margin: 15px;
}

.icon-info:before {
    margin-left: 30px;
    position: absolute;
}

.cardImage {
    width: 50%;
	height: 50%;
}

.labelCard {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
.textCard {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
