a{
	color:#000000;
}


header>a{
	color:#929292 !important;
}

header>a:active, header>a:hover {
	color:#000000 !important;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 



.infoposition{
	height: 30px;
width: 30px;
position: absolute;
margin-left: 9px;
}

.bordo_verde>a{
	background-color:#bfbfbf !important;
}

.bordo_verde>a{
	
}

.accordion_card{
	line-height: 1.5em;
	padding: 8px 60px 7px 11px;
}

#contentoffcanvas{
	margin-top:35px;
}
.icon-search{
	  margin-left: -29px;
    margin-right: 9px;
}

.menu-border>ul{
	margin-top:0px !important;
}

.menu-color>li{
	padding: 10px 65px 10px 15px !important;

}

.menu-color{
	background-color:#f6f6f6;
}

#menu-title{
	margin-left:7px;
	font-size:1em;
}

.menu-border{
	border-left:1px solid;
	border-color:#ddd;
}

.ui-collapsible-heading{
	margin: 1px;
}

.tab-item{
	color: #929292 !important;
}

.tab-item-selected{
	 color: #3388cc !important;
}


#titleNavigation{
	text-align:center;
	font-size:20px;
margin-top: 12px;
}
.titleNavigation{
	text-align:center;
	font-size:20px;
margin-top: 12px;
}

.position_profile_visitato_text{
	position: absolute;
vertical-align: middle;
top: 31%;
margin-left: 5px;
}

.position_profile_visitato_icon{
	width: 34px;
margin-left: -4px;
}

/* Notifica urgente */
#notification-red-polo>h3>a, #notification-red-edificio>h3>a, #notification-red-piano>h3>a {
	background-color:red;
	color: white;
}

/* Notifica poco urgente */
#notification-yellow-polo>h3>a, #notification-yellow-edificio>h3>a, #notification-yellow-piano>h3>a {
	background-color:yellow;
	color: black;
}

/* Notifica non urgente */
body, input, select, textarea, button, .ui-btn {
font-size: 0.7em;
    line-height: 1.8em;
}

#notification-green-polo>h3>a, #notification-green-edificio>h3>a, #notification-green-piano>h3>a {
	background-color:green;
	color: black;
}



.statusAula{
	margin-left: 15%;
}


.aula_occupata {
	vertical-align: middle;
    background: red none repeat scroll 0 0;
    border-radius: 55px;
    height: 15px;
    width: 15px;
}

.aula_libera {
	vertical-align: middle;
    background: green none repeat scroll 0 0;
    border-radius: 55px;
    height: 15px;
    width: 15px;
}




.cardImage {
   width: 49px;
	height: auto;
}

.labelCard {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.textCard {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.univaqImage {
    display: block;
    margin: 0 auto;
}

.loginText {
	text-align: center;
}

.loginForm {
	margin: 15px;
}

.imageProfile {
	height: 40%;
	width: 40%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.profileCard {
	margin: 20px;
}

.selectStatus {
	height: 200px;
}


.selectStatusText {
	text-align: center;
}

.imagePhoto {
	height: 40%;
	width: 95%;
	margin-top: 10px;
	margin-left: 10px;
}

.menuCalendar {
	margin-top: 19px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.followersImage {
	margin-bottom: -11px;
	width: 30px;
	height: 30px;
}

.profInUfficio {
	margin-top: 19px;
}

.infoFollowersNavigation
{
right: 0;
position: absolute;
margin-right: 14px;
}

.avvistaProfButton, .avvistaProfButton:active  {
	background-color: orange;
	border: 1px solid orange;
}

.stretto{
padding: 0 !important;
}



.notifyDiv {
	margin-left: 0%;
}
.notifyImage {
	margin-left: 10%;
	margin-top: 10%
}
.notifyIcon {
	width: 20px;
	height: 20px;
}

.cardOrarioMensa {
	width: 50%;
	height: 50%;
	margin-left: 26%
}

.orarioMensa {
	text-align: center;
}
