.btn_accetta{
	margin-right:5px;
	min-width:90%;
	font-size: 10px;
}

.btn_rifiuta{
	margin-top:10px;
	min-width:90%;
}

.ui-block-a{
	width:20% !important
}

.ui-block-b{
	width:80% !important
}


.ui-block-a-button{
	width:20% !important
}

.ui-block-b-button{
	width:60% !important
}

.ui-block-c-button{
	width:20% !important
}

.notification-list{
	padding-right:5px;
}

.Imagefullwidth{
	height: 40px; 
	width:auto;
}

.titolo-notifica{
	 font-weight: bold;
}



.testo-notifica{
	   font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}


.stretto{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}
