.btn_accetta{
background-color: #efefef;
	
	
}

.btn_rifiuta{

	margin-left: 10px;
}
.btn_richiesta{
	
    padding: 8px 8px 8px;
}

.ui-block-a{
	width:15% !important
}

.ui-block-b{
	width:85% !important
}


.ui-block-a-button{
	width:15% !important
}

.ui-block-b-button{
	width:40% !important
}

.ui-block-c-button{
	margin-left: 10px;
	padding-top: 10px;
	width:40% !important
}

.notification-list{
	padding-right:5px;
}

.Imagefullwidth{
	padding:3px;

}

.titolo-notifica{
	 font-weight: bold;
}

.notifyIcon {

    margin-bottom: -4px;
}



.testo-notifica{
	   font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}


.stretto{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}
