.btn_accetta{
	margin-right:5px;
	min-width:90%;
	font-size: 10px;
}

.btn_rifiuta{
	margin-top:2px;
	min-width:90%;
}
.btn_richiesta{
	margin-top: 2px;
padding: 4px 8px 4px;
}

.ui-block-a{
	width:15% !important
}

.ui-block-b{
	width:85% !important
}


.ui-block-a-button{
	width:15% !important
}

.ui-block-b-button{
	width:60% !important
}

.ui-block-c-button{
	width:20% !important
}

.notification-list{
	padding-right:5px;
}

.Imagefullwidth{
	padding:3px;

}

.titolo-notifica{
	 font-weight: bold;
}

.notifyIcon {

    margin-bottom: -4px;
}



.testo-notifica{
	   font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}


.stretto{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}
