.card{
	margin-left:0px;
	margin-right:0px;
}
.border-top {
    border-top: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd !important;
}

.table-view-cell>span{
	font-size:1.2em;
	margin-left:55px;
}

.border-top>span{
	margin-left:21px;
}
