.title_widget>a{
	color:#568E86 !important;
}

.title_polo_widget{
	color:#568E86 !important;
}

.title_widget_no_padding{
	color:#568E86 !important;
}

.follower_widget_add{
	color:#568E86 !important;
}

.title_widget{
	font-size:1.1em;
}
.location_grid{
	padding: 0px 0px 8px;
}


.polo_student{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
.polo_student:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

.polo_prof{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
.polo_prof:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

.notifica_grid{
	border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
}

.polo_mesa{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
.polo_mensa:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

#aule_libere{
	margin: 0px 5px 0px 10px;
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
#aule_libere:active , .activate_widget{
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

#aggiungi_aule_libere{
	margin:10px 5px 0px 10px;
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
#aggiungi_aule_libere:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}


#miei_corsi{
	margin: 0px 10px 0px 5px;
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
#miei_corsi:active, .activate_widget {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

#aggiungi_miei_corsi{
	margin: 10px 10px 0px 5px;
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
#aggiungi_miei_corsi:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}

#aggiungi_widget_preferiti{
	
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
	
#aggiungi_widget_preferiti:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);	
	
}



.move-left{
	margin-left: 20px;
}
.fade_out_page{
	background: #000000;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.9;
  z-index:400;
  position:absolute;
  width:100%;
  height:100%;
  display:none;
}
.center{
	text-align:center;
}
.widget_select_div{
	position: absolute;
width: 70%;

z-index: 6000;
top: 30%;
left: 15%;
border-radius: 20px;
display:none;
}
.slider{
	    background-color: #FFFFFF;
}

.widget_add{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
	height:70px;
	margin-top:20px;
}

.widget_add:active{
  -webkit-transform: scale3d(0.9, 0.9, 1);	
}

.clock_widget{
	padding:2px;
}

.margin-top{
	margin-top:10px;
}
.card_widget{
	border-radius:0px;
	border: 2px solid #cccccc;
}

.widget-container{
	text-align:center;
	border:none
}

.widget-container-add{
		background-color:#eff6f4;
}

#contentmain_widget{
	background-color:#eff6f4;
}

.widgets_grid{

}
.ui-block-b{
	width:50% !important;
	float:left !important;
}

.ui-block-a{
	float:left !important;
	width:50% !important;
}

.widgetImage {
	 
	
	width: 53px;
	height: 53px;
}

.widgetImageCorsi {
	 
	padding:5px;
	width: 53px;
	height: 53px;
}

.widgetImageNotifica {
    padding: 10px;
	width: 70px;
	height: 70px;
}

.widgetImagePolo {
	
    border-radius: 50%;
    border:4px solid;
    padding: 10px;
	width: 70px;
	height: 70px;
}

.polo_student{
	background-color: #dcc909;
	border:none;
}

.polo_prof{
	background-color: #0ebeb8;
	border:none;
}

.polo_mensa{
		background-color:  #06B260;
	border:none;
}

.fullwidth{
	width:100% !important;
}
.center_text{
	text-align:center;
}
.person_widget{
	overflow:visible;
}
.person_widget_image{
	width:16% !important;
}
.person_widget_image_notification{
	width:80px !important;
	padding: 5px;
}

.title_widget_no_padding{
	font-size: 1.1em;
	border-bottom: none;
	font-weight:bold;
	text-align:center;
	padding: 3px 15px 3px 15px !important;
}

.title_widget{
	padding: 8px 62px 8px 15px;
}
.title_aggiungi_widget{
	padding: 0px 10px 0px 2px;
text-align: center;
}

.location_icon{
	width:33.3% !important;
	text-align: center;
}
.following-list-element{
	border:none;
	margin:0px;
	border-bottom:1px solid #DDDDDD;
}
.no-padding-right{
	padding-right:10px !important;
}
.person_widget_content{
	margin-top:4px;
	width:72% !important;
}

.widget_icon_container{
	width:14px !important;
}
.widget_text_container_notifica{
	position:absolute;
	width: 80% !important;
	margin-left: 25px;

}

.widget_text_container{
	width: 80% !important;
	margin-left: 5px;

}

.widgeticon{
	width:20px;
}

.position_text_br{
	margin-left:20px;
}

.status_text{
	margin-left:5px;
	position: absolute;
}

.position_text{
	padding-bottom: 13px !important;
vertical-align: middle;
}
.icon-plus-widget{
	position: absolute;
float: right;
right: 15px;
line-height: 0.8em;
font-weight:bold;
}
.icon_status{
	font-size: 19px;
}

.widgeticonfol{
	width: 16px;
margin-left: 2px;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.name { 
background: #000000;
filter: alpha(opacity=80);
filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
-moz-opacity: 0.30;
opacity: 0.7;
zoom: 1;
margin-top: 42px;
color: #FFFFFF;
position: absolute;
font-size: 0.7em;
text-align: center;
left: 0;
width: 53px;
line-height: 1.5em;
}

.name_notification { 
	 background: #000000;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.7;
  
  margin-top: 65px;
	color: #FFFFFF;
   position: absolute; 
  font-size: 1.3em;
text-align: center;
left: 0;
 width: 80px;
height: 18px;
}

.notifica_intelligente { 
	color: #FFFFFF;
	font-size: 1.3em;
	text-align:center;
	 background: #0E5E53;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.7;
}

.following-position-text{
	margin-left:5px;
position: absolute;
}

.aule_widget_image{
	width: 34% !important;
}
.aule_widget_content{
	width: 60% !important;
	margin-top: 8px;
	padding-left: 10px;
}
.badge_aule{
	
	text-align:center;
	width: 80%;
	
}

.badge_verde{
	padding: 4px 9px 2px 10px;
text-align: center;
margin-bottom: 0px;
}

.icon_aule_coppito{
	height: 20px;
position: absolute;
margin-left: 4px;
}

.icon_polo_coppito{
	height: 20px;
position: absolute;
margin-left: 4px;
}

#remove_aule{
	position:absolute;
	font-size: 1.3em;
	text-align:center;
	 background: #000000;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.8;
  z-index:800;
 display:none;
 margin-left: -3px;

margin-top: -3px;
}

#remove_miei_corsi{
	position:absolute;
	font-size: 1.3em;
	text-align:center;
	 background: #000000;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.8;
  z-index:800;
 display:none;
 margin-left: -3px;

margin-top: -3px;
}

#remove_widget_preferiti{
	position:absolute;
	font-size: 1.3em;
	text-align:center;
	 background: #000000;
  filter: alpha(opacity=80);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.8;
  z-index:800;
 display:none;
 margin-left: -3px;
margin-top: -3px;
}



.widget_remove{
	width: 70px;
vertical-align: middle;
float: right;
}

.grid_aule_libere{
	margin-bottom:3px;
}

.follower-grid{
	width:100% !important
}

.widgeticon_small{
	width: 14px;
margin-left: 21px;
}
.widgetImage_small{
	height:35px;
	width:35px;
}
.move-down{
	padding-top: 4px;
}
.add_widget_title{
	font-size:1.2em
}

.widget_div_close{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
	font-size:1.2em;
	margin-bottom: -2px;
	color:#FFFFFF;
	background-color:#568E86;
	padding: 5px 10px 5px 2px;

}

.widget_div_close:active{
	background-color:#3a5f5a;
}


.select_widget{
	border-color:#a6a6a6;
}
