.ui-block-b{
	width:50% !important;
	float:left !important;
}

.ui-block-a{
	float:left !important;
	width:50% !important;
}

.widgetImage {
	margin-left: 20%;
	width: 100%;
	height: auto;
}

.fullwidth{
	width:100% !important;
}
